html,body{
    scroll-behavior: smooth;

}

.default-head{
    .title{
        @include fontT(45px,$fontlora);
        padding: 30px 0 0;
        margin: 0;
    }

    .subtitle{
        color: #999;
        font:{
            family: $fontRub;
            weight: 500;
        }
    }
}

.defaulticon {
    margin-right: 5px;
    font-size: 19px;
    cursor: pointer;
    background-color: #fff ;
    color: $backcolor3;
    line-height: 33px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    transition: all .4s linear;
}

.mbtn {
    @include btnp;
    border: none;
    animation: spin .9s linear infinite;
    height: 45px;
    width: 130px;
    color: #fff;
}

@keyframes spin {
    to { background: rgb(0, 94, 202); }
}