@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #343a40cb;
  height: 80px;
}
.header .brand {
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  left: 3%;
}

.nav-links {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-links li {
  margin: 0 30px;
  position: relative;
}
.nav-links li .navlink, .nav-links li .active::before {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
.nav-links li .navlink::before, .nav-links li .active::before {
  content: '';
  width: 0;
  height: 5px;
  position: absolute;
  background: #0077ff;
  bottom: -5px;
  left: 0;
  transition: all .3s linear;
}
.nav-links li .active {
  font-size: 25px;
}
.nav-links li .active::before {
  width: 100%;
}
.nav-links li:hover .navlink::before, .nav-links li:hover .active::before {
  width: 100%;
}

.headmenu {
  display: none;
  position: absolute;
  right: 15px;
  transition: all .5s ease-in-out;
}
.headmenu .menu {
  background-color: #fff;
  height: 4px;
  width: 48px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #0077ff;
  transition: all .5s ease-in-out;
}
.headmenu .menu::before, .headmenu .menu::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px #0077ff;
  left: 0;
  transition: all .5s ease-in-out;
}
.headmenu .menu::before {
  transform: translateY(-16px);
}
.headmenu .menu::after {
  transform: translateY(16px);
}
.headmenu.open .menu {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.headmenu.open .menu::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.headmenu.open .menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.default-head .title {
  font-size: 45px;
  font-family: "Lora", "Times New Roman", serif;
  text-transform: uppercase;
  padding: 30px 0 0;
  margin: 0;
}
.default-head .subtitle {
  color: #999;
  font-family: "Rubik", arial, sans-serif;
  font-weight: 500;
}

.defaulticon {
  margin-right: 5px;
  font-size: 19px;
  cursor: pointer;
  background-color: #fff;
  color: #343a40;
  line-height: 33px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  transition: all .4s linear;
}

.mbtn {
  border-radius: 25px;
  border: none;
  animation: spin .9s linear infinite;
  height: 45px;
  width: 130px;
  color: #fff;
}

@keyframes spin {
  to {
    background: #005eca;
  }
}
/*section intro*/
#intro {
  height: 100vh;
  background-image: url("../../images/aboutus.jpg");
  background-color: #d6d6d6;
  background-position: center;
  background-size: cover;
}
#intro .header {
  background-color: #343a409a;
}
#intro .back {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.774);
}
#intro .back .intro-text {
  padding: 0 20px;
  padding-top: 40px;
}
#intro .back .intro-text p {
  font-size: 18px;
  text-align: justify;
  font-family: "Rubik", arial, sans-serif;
}
#intro .default-head .title {
  font-size: 55px;
}
#intro .default-head .subtitle {
  font-size: 22px;
}

#ourteam {
  background-color: #d6d6d6;
  height: 100vh;
}
#ourteam .carousel-guides {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 2px solid #fff;
  transition: all .8s;
}
#ourteam .carousel-guides.active {
  background: #fff;
  opacity: 1;
}
#ourteam .mcarousel {
  width: 650px;
  margin: 0 auto;
}
#ourteam .mcarousel .mitem {
  border-radius: 20px;
}
#ourteam .mcarousel .mitem .defaulticon {
  line-height: 33px;
}
#ourteam .mcarousel .mitem .defaulticon:hover {
  background-color: #0077ff;
}
#ourteam .mcarousel .mcaption {
  background-color: rgba(0, 0, 0, 0.479);
}
#ourteam .mcarousel .imgcarousel {
  max-height: 450px;
}

@media (max-width: 1024px) {
  header .headmenu {
    display: block;
  }
  header .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    opacity: 0;
    transform: translateX(-400px);
    height: 271px;
    top: 80px;
    background-color: #343a40cb;
    transition: all .9s ease-in-out;
  }
  header .nav-links {
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style_about.css.map */
