@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #343a40cb;
  height: 80px;
}
.header .brand {
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  left: 3%;
}

.nav-links {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-links li {
  margin: 0 30px;
  position: relative;
}
.nav-links li .navlink, .nav-links li .active::before {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
.nav-links li .navlink::before, .nav-links li .active::before {
  content: '';
  width: 0;
  height: 5px;
  position: absolute;
  background: #0077ff;
  bottom: -5px;
  left: 0;
  transition: all .3s linear;
}
.nav-links li .active {
  font-size: 25px;
}
.nav-links li .active::before {
  width: 100%;
}
.nav-links li:hover .navlink::before, .nav-links li:hover .active::before {
  width: 100%;
}

.headmenu {
  display: none;
  position: absolute;
  right: 15px;
  transition: all .5s ease-in-out;
}
.headmenu .menu {
  background-color: #fff;
  height: 4px;
  width: 48px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #0077ff;
  transition: all .5s ease-in-out;
}
.headmenu .menu::before, .headmenu .menu::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px #0077ff;
  left: 0;
  transition: all .5s ease-in-out;
}
.headmenu .menu::before {
  transform: translateY(-16px);
}
.headmenu .menu::after {
  transform: translateY(16px);
}
.headmenu.open .menu {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.headmenu.open .menu::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.headmenu.open .menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.default-head .title {
  font-size: 45px;
  font-family: "Lora", "Times New Roman", serif;
  text-transform: uppercase;
  padding: 30px 0 0;
  margin: 0;
}
.default-head .subtitle {
  color: #999;
  font-family: "Rubik", arial, sans-serif;
  font-weight: 500;
}

.defaulticon {
  margin-right: 5px;
  font-size: 19px;
  cursor: pointer;
  background-color: #fff;
  color: #343a40;
  line-height: 33px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  transition: all .4s linear;
}

.mbtn {
  border-radius: 25px;
  border: none;
  animation: spin .9s linear infinite;
  height: 45px;
  width: 130px;
  color: #fff;
}

@keyframes spin {
  to {
    background: #005eca;
  }
}
#footer {
  background-color: #000;
  position: relative;
}
#footer .toup {
  position: absolute;
  top: -20px;
  right: 35px;
  background-color: #0077ff;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  transition: all .4s;
}
#footer .toup:hover {
  transform: translatey(-10px);
  color: #000;
}
#footer .firstrow, #footer .sdrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#footer .firstrow .mediaicon, #footer .sdrow .mediaicon {
  height: 100px;
  padding-top: 20px;
  justify-content: space-around;
}
#footer .firstrow .mediaicon h1, #footer .sdrow .mediaicon h1 {
  font-size: 20px;
  font-family: "Lora", "Times New Roman", serif;
  text-transform: uppercase;
}
#footer .firstrow .mediaicon .face, #footer .sdrow .mediaicon .face {
  color: #fff;
  background-color: #336296;
}
#footer .firstrow .mediaicon .link, #footer .sdrow .mediaicon .link {
  color: #fff;
  background-color: #127CB6;
}
#footer .firstrow .mediaicon .you, #footer .sdrow .mediaicon .you {
  color: #fff;
  background-color: #E64236;
}
#footer .firstrow .mediaicon .inst, #footer .sdrow .mediaicon .inst {
  color: #fff;
  background-color: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
#footer .firstrow .mediaicon i, #footer .sdrow .mediaicon i {
  line-height: 33px;
}
#footer .firstrow .mediaicon i:hover, #footer .sdrow .mediaicon i:hover {
  background-color: #0077ff;
  color: #fff;
}
#footer .firstrow .form, #footer .sdrow .form {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .firstrow .form input, #footer .sdrow .form input {
  border: none;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  text-align: center;
  outline: none;
  color: #fff;
  width: 250px;
  max-width: 250px;
  margin-bottom: 20px;
  transition: .8s;
}
#footer .firstrow .form input:focus, #footer .sdrow .form input:focus {
  border-bottom: 3px solid #0077ff;
}
#footer .firstrow .form button, #footer .sdrow .form button {
  background: #0077ff;
}
#footer .firstrow .form h1, #footer .sdrow .form h1 {
  font-size: 20px;
  font-family: "Lora", "Times New Roman", serif;
  text-transform: uppercase;
}
#footer .sdrow a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Rubik", arial, sans-serif;
}

#getin {
  background: #d6d6d6;
  height: 100vh;
  background-image: url("../../images/getin.jpg");
  background-size: cover;
  background-position: right center;
}
#getin .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
#getin .form .mbtn {
  animation: none;
  transition: .4s;
}
#getin .form .inp {
  width: 50%;
  outline: none;
  border: none;
  color: #646464;
  border-bottom: 3px solid #000;
  background: transparent;
  resize: none;
  padding: 10px 0 0 10px;
  margin: 10px 0;
  transition: all .5s linear;
  font-size: 15px;
  font-family: "Lora", "Times New Roman", serif;
}
#getin .form .inp:focus {
  border-bottom: 3px solid #0077ff;
}
#getin .form .inp::placeholder {
  text-transform: uppercase;
}

#where #map {
  height: 420px;
  overflow: hidden;
  max-height: 420px;
  max-width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#where .colmap {
  padding: 0;
}
#where .mapaside {
  overflow: hidden;
  background-color: #343a40;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#where .mapaside .map-text {
  font-size: 14px;
  margin-left: 11px;
  line-height: 45px;
  width: 400px;
  max-width: 400px;
}
#where .mapaside .map-text p {
  display: inline-block;
}
#where .mapaside .map-text i {
  line-height: 33px;
}
#where .mapaside .map-text:hover i {
  background: #0077ff;
  color: #fff;
  transform: translateY(-3px);
}

@media (max-width: 1024px) {
  header .headmenu {
    display: block;
  }
  header .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    opacity: 0;
    transform: translateX(-400px);
    height: 271px;
    top: 80px;
    background-color: #343a40cb;
    transition: all .9s ease-in-out;
  }
  header .nav-links {
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  #where .mapaside .map-text {
    margin-left: 65px;
  }
  #where .mapaside .map-text p {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  #getin .title {
    font-size: 35px;
  }
  #getin .form .inp {
    width: 100%;
  }

  #where #map {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #where .mapaside {
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media (max-width: 768px) {
  #getin .mcont {
    background-color: rgba(0, 0, 0, 0.479);
    max-width: 100%;
    height: calc( 100vh - 80px ) !important;
  }
  #getin .title {
    color: #fff;
  }
  #getin .form .inp {
    width: 100%;
    color: #fff;
    border-bottom-color: #fff;
  }
  #getin .form .inp::placeholder {
    color: #fff;
  }

  #where #map {
    border-radius: 0;
  }
  #where .mapaside {
    border-radius: 0;
  }

  #footer .firstrow .form, #footer .sdrow .form {
    padding-left: 0;
  }
  #footer .firstrow .form .em, #footer .sdrow .form .em {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #footer .firstrow .form .em .inp1, #footer .sdrow .form .em .inp1 {
    margin-right: 5px;
  }
  #footer .firstrow .mediaicon, #footer .sdrow .mediaicon {
    margin: 30px 0;
  }
  #footer .sdrow {
    margin-top: 30px;
  }
  #footer .sdrow a {
    font-size: 16px;
  }
}
@media (max-height: 500px) and (min-width: 560px) {
  #getin {
    height: 429px;
  }
  #getin .mcont {
    height: calc( 429px - 80px);
  }
  #getin .mcont .title {
    padding: 0;
  }
  #getin .mcont .mbtn {
    margin-top: 0 !important;
  }
  #getin .form .em {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #getin .form .em .inp1 {
    margin-right: 5px;
  }
}

/*# sourceMappingURL=style_contact.css.map */
