@media( max-width: 1024px) {
    header{

        .headmenu{
            display: block;
        }
        .nav{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            right: 0px;
            opacity: 0;
            transform: translateX(-400px);
            height: 271px;
            top: 80px;
        background-color: #343a40cb;
        transition: all .9s ease-in-out;
        &-links{
            height: 100%;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            }
        }
    }

    #where{
        .mapaside{
            .map-text{
                margin-left: 65px;             
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

@media( max-width: 992px){
    #getin{
        .title{
            font-size: 35px;
        }
        .form{
            .inp{
                width: 100%;
            }
        }
    }
     #where{
         #map {  
             border-radius: 0;
             border-top-right-radius: 10px;
             border-top-left-radius: 10px;
         }
         .mapaside{
             border-radius: 0;
             border-bottom-right-radius: 10px;
             border-bottom-left-radius: 10px;
         }
 
     }
 }

 @media( max-width: 768px ) {    
    #getin{
        .mcont{
            background-color: rgba(0, 0, 0, 0.479);
            max-width: 100%;
            height: calc( 100vh - 80px );
        }
        .title{
            color: #fff;
        }
        .form{
            .inp{
                width: 100%;
                color: #fff;
                border-bottom-color:#fff ;
                &::placeholder{
                    color: #fff;
                }
            }
        }
    }
    #where{
        #map {  
            border-radius: 0;
        }
        .mapaside{
            border-radius: 0;
        }
    }
    #footer {

        .firstrow .mediaicon{
            margin: 30px 0;
        }

        .sdrow{
            margin-top: 30px;
            a{
                font-size: 16px;
            }
        }
    }
}
@media( max-height:500px){
    #getin{
        height: 429px;
        .mcont{
            height: calc( 429px - 80px);
            .title{
                padding: 0;
            }
            .mbtn{
                margin-top: 0 !important;
            }
        }

        .form{
            .em{
                @include flexdiplay(center,row);
                .inp1{
                    margin-right: 5px;
                }
            }

        }
    }
}