@media( max-width: 1024px) {
        header{

            .headmenu{
                display: block;
            }
            .nav{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                right: 0px;
                opacity: 0;
                transform: translateX(-400px);
                height: 271px;
                top: 80px;
            background-color: #343a40cb;
            transition: all .9s ease-in-out;
            &-links{
                height: 100%;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    #ourteam {
        height: auto;
        padding-bottom: 30px;
    }
    #ourvalue .vl .vll{
        margin-bottom: 30px;
    }

}

@media( max-width: 767px){    
    #intro .back {
        .intro-text {
            padding: 10px 0 0;
            p{
                font-size: 13px;
            }
        }
    }

    #intro .default-head .title{
        font-size: 50px;
    }

    #ourteam {
        .mcarousel{
            width: 100%;
            .carousel-caption{
                width: 75%;
            }
        }
    }
    
    #footer {

        .firstrow{
            .form{
                padding-left: 0;
            }
            .mediaicon{        
                margin: 30px 0;
            }
        } 

        .sdrow{
            margin-top: 30px;
            a{
                font-size: 16px;
            }
        }
    }
}

@media(max-height: 500px){
    #intro .back .intro-text p{
        font-size: 13px;
    }

    #intro .default-head .title{
        font-size: 50px;
    }

    #ourteam {
        height: auto;
        padding-bottom: 30px;
        .mcarousel{
            width: 100%;
            .carousel-caption{
                width: auto;
            }
        }
    }
    
    #ourvalue .vl .vll{
        margin-bottom: 30px;
    }

    #footer {

        .firstrow .mediaicon{
            margin: 30px 0;
        }

        .sdrow{
            margin-top: 30px;
            a{
                font-size: 16px;
            }
        }
    }
}

